{{> head }}
    
    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Angular</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia rerum dolorem unde doloribus incidunt vitae praesentium consequatur sed eos ad inventore distinctio et at aspernatur accusantium, doloremque vero quam beatae?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/logoAngular.svg" class="img-thumbnail" alt="">
        </div>

    </div>

{{> footer }}